
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
// Version info

#include "AccVersion.h"

//ACC_IMPLEMENT_VERSIONINFO_APP(AccBot, Bot) 

